@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom styles for app name */
.app-name {
  color: #24bf73; /* Replace with your desired color */
  font-size: 1rem; /* Optional, adjust the font size */
  font-weight: bold; /* Optional, adjust the font weight */
  text-align: center; /* Optional, center the text */
}

/* Custom huge font size */
.font-xxl {
  font-size: 2.5rem; /* 160px */
  line-height: 1;
  text-align: center;
  font-weight: 700; /* bold */
}


